<h1>Listing posts</h1>

<table>
  <tr>
  </tr>

{{#posts}}
  <tr>
    <td><b>{{post_title}}</b></td>
    <td>{{post_excerpt}}</td>
    <td>{{{link_to_show_post}}}</td>
    <td>{{{link_to_edit_post}}}</td>
    <td>{{{link_to_destroy_post}}}</td>
  </tr>
{{/posts}}
</table>

<br />

{{{link_to_new_post}}}