<h1>Editing hello_world</h1>

<% form_for(@hello_world) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @hello_world %> |
<%= link_to 'Back', hello_worlds_path %>