<h1>Listing hello_worlds</h1>

<table>
  <tr>
  </tr>

<% @hello_worlds.each do |hello_world| %>
  <tr>
    <td><%= link_to 'Show', hello_world %></td>
    <td><%= link_to 'Edit', edit_hello_world_path(hello_world) %></td>
    <td><%= link_to 'Destroy', hello_world, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New hello_world', new_hello_world_path %>