<h1>Listing posts</h1>

<table>
  <tr>
  </tr>

{{#posts}}
  <tr>
    <td>{{link_to_show_post}}</td>
    <td>{{link_to_edit_post}}</td>
    <td>{{link_to_delete_post}}</td>
  </tr>
{{/posts}}
</table>

<br />

{{link_to_new_post}}